<div class="row">

	<div class="col-md-12">
		<section class="menu_kinds" >
			<% if @menu_kinds && @menu_kinds.any? %>
				<h2>Все (<%= @menu_kinds.count %>)</h2>
				<%= render 'menu_kinds_table', menu_kinds: @menu_kinds %>
			<% end %>
		</section>
	</div>
</div>