<% provide(:title, 'О нас') %>
<h1>О нас</h1>
<p>
  Обеденный советник создан для того, чтобы не ломать голову над тем, что поесть в обед, на ужин или завтрак. Введите список имеющихся продуктов и получите список блюд, которые можно приготовить.
</p>