<section id="courses_lists">
	<%= render layout: 'layouts/two_columns_lists' do %>
		<% if @courses_in_menu && @courses_in_menu.any? %>
			<% content_for :column1 do	%>
				<% provide(:title1, "В меню (#{@courses_in_menu.to_a.count})") %>	
				<% provide(:section_id1, "courses_availabled") %>
				<%= render 'shared/table_with_categories', items: @courses_in_menu, class_name: "Course", table_partial: 'courses/courses_table_for_menu'  %>
			<% end %>
		<% end %>
		
		<% if @courses && @courses.any? %>
			<% content_for :column2 do	%>
				<% provide(:title2, "Рецепты (#{@courses.count})") %>	
				<% provide(:section_id2, "courses") %>
				<%= render 'shared/table_with_categories', items: @courses, class_name: "Course", table_partial: 'courses/courses_table_for_menu'  %>
			<% end %>
		<% end %>
	<% end %>
</section>