<li class="dropdown">
	<a href="#" data-toggle="dropdown" class="dropdown-toggle">Виды меню <b class="caret"></b></a>
	<ul class="dropdown-menu">
		<%= nav_link "Список", menu_categories_path, :action %>
		<%= nav_link "Добавить новый", new_menu_category_path, :action %>
	</ul>
</li>