<% provide(:title, 'Меню') %>

<h2><%= "Меню#{@menu.category ? (" " + @menu.category.name) : ""} на #{@menu.date}" %></h2>
Блюда:
<ul class="courses" >
	<% @menu.courses.find_each do |course| %>
	<li id="<%= course.id %>">
		<span id="course">
		<%= link_to wrap(course.name), course_path(course), title: course.name %>
		</span>
	</li>
	<% end %>
</ul>

<section>
	<%= link_to "Изменить", edit_menu_path(@menu), class: "btn btn-lg btn-primary"%>
</section>
