<div class="row">

	<div class="col-md-12">
		<section class="course_kinds" >
			<% if @course_kinds && @course_kinds.any? %>
				<h2>Все (<%= @course_kinds.count %>)</h2>
				<%= render 'course_kinds_table', course_kinds: @course_kinds %>
			<% end %>
		</section>
	</div>
</div>
