<table class='table' id='course_kinds_table'>
	<thead>
		<tr>
			<th>Название</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% course_kinds.each do |course_kind| %>
		<tr>
			<td><%= link_to wrap(course_kind.name), edit_course_kind_path(course_kind), title: course_kind.name %>
			</td>
			<td>
				<% if current_user?(course_kind.user) %>
				<%= link_to "удалить", course_kind, method: :delete, remote: true, data: { confirm: "Вы уверены?" }, title: course_kind.name %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>