<div class="row">

	<div class="col-lg-10">
		<section class="course_kinds" >
			<% if current_user.course_kinds && current_user.course_kinds.any? %>
				<h2>Все (<%= current_user.course_kinds.count %>)</h2>
				<%= render 'course_kinds_table', course_kinds: current_user.course_kinds %>
			<% end %>
		</section>
	</div>
</div>
