<% provide(:title, 'Виды блюда') %>

		<section>
			<%= render 'course_kinds/course_kind_create_form' %>
		</section>

		<section id="course_kinds_lists">
			<%= render 'course_kinds/current_user_course_kinds_lists' %>
		</section>
