<% provide(:title, 'Виды блюда') %>

<section>
	<%= render 'course_kinds/course_kind_create_form' %>
</section>

<section id="course_kinds_lists">
	<%= render 'course_kinds/course_kinds_lists' %>
</section>
