<% provide(:title, 'Введение') %>
<h1>Введение</h1>
<h2>
  Спасибо за регистрацию. На следущих страницах вы сможете импортировать базовые продукты и типовые рецепты.
</h2>

<div class="actions">
  <%= link_to "Далее", next_step_introduction_path %>
</div>