<% provide(:title, 'Виды продуктов') %>

<section>
	<%= render 'product_kinds/product_kind_create_form' %>
</section>

<section id="product_kinds_lists">
	<%= render 'product_kinds/product_kinds_lists' %>
</section>
