<% provide(:title, "Совет") %>

<div class="row">
	<div class="span6 offset2">
		<% if !@course.nil? %>
			<div  id="advice_course">
			<%= render partial: "courses/course_show", object: @course, :as => :course  %>
			</div>
			<%= link_to "Получить другой", advice_path, class: "btn btn-large btn-primary",
			remote: true%>
		<% end %>
	</div>
</div>
