<% provide(:title, "Случайный рецепт") %>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="form-div" id="random_course_select_form">
			<%= render 'random_course_select_form' %>
		</div>
	</div>
</div>
<div  id="advice_course">
	<%= render 'course_show' %>
</div>