<section id="products_lists">
	<%= render layout: 'layouts/two_columns_lists' do %>
		<% if @products_in_shopping_list && @products_in_shopping_list.any? %>
			<% content_for :column1 do	%>
				<% provide(:title1, "В списке покупок (#{@products_in_shopping_list.to_a.count})") %>	
				<% provide(:section_id1, "products_in_shopping_list") %>
				<%= render 'shared/table_with_categories', items: @products_in_shopping_list, class_name: "Product", table_partial: 'products/products_table_for_shopping_list' %>
			<% end %>
		<% end %>
		
		<% if @products && @products.any? %>
			<% content_for :column2 do	%>
				<% provide(:title2, "Продукты (#{@products.count})") %>	
				<% provide(:section_id2, "products") %>
				<%= render 'shared/table_with_categories', items: @products, class_name: "Product", table_partial: 'products/products_table_for_shopping_list' %>
			<% end %>
		<% end %>
	<% end %>
</section>