<% provide(:title, 'Базовые продукты') %>

<section>
	<%= link_to "Добавить", new_admin_product_path, class: "btn btn-lg btn-primary"%>
</section>

<section id="products" >
	<%= render 'products_table'%>
</section>
