<table class='table' id='courses_table'>
	<thead>
		<tr>
			<th>Название</th>
			<th>В меню</th>
		</tr>
	</thead>

	<tbody>
		<% if courses && courses.any? %>
		<% courses.each do |course| %>
		<tr>
			<td><%= link_to(wrap(course.name) , course_path(course), title: course.name) %></td>
			<td>
			</td>
		</tr>
		<% end %>
		<% end %>
	</tbody>
</table>