<div class="panel-group" id="accordion">
	<% @course_kinds = [CourseKind.new(name: "Без категории")] + CourseKind.kinds_for_courses(courses).to_a %>
	<% @course_kinds.each_with_index do |course_kind, index|  %>
		<% if course_kind.name == "Без категории" %>
			<% @course_kind_courses = courses.without_kind %>
		<% else %>
			<% if availabled %>
				<% @course_kind_courses = course_kind.courses.availabled %>
			<% else %>
				<% @course_kind_courses = course_kind.courses %>
			<% end %>
		<% end %>
		
		<% if @course_kind_courses && @course_kind_courses.any? %>
		<% collapse_id = "collapse#{(availabled ? "availabled" : "") + index.to_s}" %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#<%=collapse_id%>">
						<%= "#{index+1}. #{course_kind.name}"  %>
					</a>
				</h4>
			</div>
			<div id="<%=collapse_id%>" class="panel-collapse collapse in">
				<div class="panel-body">
					
					<%= render((defined?(course_table) ? course_table : 'courses/courses_table'), courses: @course_kind_courses) %>
					
				</div>
			</div>
		</div>
		<% end %>
	<% end %>
</div>