<div class="panel-group" id="accordion">
	<% @course_categories = [CourseCategory.new(name: "Без категории")] + CourseCategory.categories_for_courses(courses).to_a %>
	<% @course_categories.each_with_index do |course_category, index|  %>
		<% if course_category.name == "Без категории" %>
			<% @course_category_courses = courses.without_category %>
		<% else %>
			<% if availabled %>
				<% @course_category_courses = course_category.courses.availabled %>
			<% else %>
				<% @course_category_courses = course_category.courses %>
			<% end %>
		<% end %>
		
		<% if @course_category_courses && @course_category_courses.any? %>
		<% collapse_id = "collapse#{(availabled ? "availabled" : "") + index.to_s}" %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#<%=collapse_id%>">
						<%= "#{index+1}. #{course_category.name}"  %>
					</a>
				</h4>
			</div>
			<div id="<%=collapse_id%>" class="panel-collapse collapse in">
				<div class="panel-body">
					
					<%= render((defined?(course_table) ? course_table : 'courses/courses_table'), courses: @course_category_courses) %>
					
				</div>
			</div>
		</div>
		<% end %>
	<% end %>
</div>