<li id="<%= course.id %>">
	<span class="name"> <%= link_to(wrap(course.name) , course_path(course), title: course.name) + " (" + 
	  (course.products.collect {|product| product.name}).join(", ") + ")"%> </span>
	<% if current_user?(course.user) %>
    <%= link_to "удалить", course, method: :delete, remote: true, data: { confirm: "Вы уверены?" }, title: course.name %>
  <% end %>
</li>