<li id="<%= course.id %>">
	<span class="name"> <%= link_to(wrap(course.name) , course_path(course), title: course.name) + " (" + 
	  (render(course.products)) + ")"%> </span>
	<% if can? :destroy, course %>
    <%= link_to "удалить", course, method: :delete, remote: true, data: { confirm: "Вы уверены?" }, title: course.name %>
  <% end %>
</li>