<table class='table' id='courses_table'>
	<thead>
		<tr>
			<th>Название</th>
			<th>В меню</th>
		</tr>
	</thead>

	<tbody>
		<% if courses && courses.any? %>
		<% courses.each do |course| %>
		<tr>
			<td><%= link_to(wrap(course.name) , course_path(course), title: course.name) %></td>
			<td>
			<%# if current_user?(course.user) %>
				<%#= check_box_tag 'in_menu', @menu.courses.exists?(course), @menu.courses.exists?(course), 
				data: {remote: true, method: :put, :url => url_for( :action => 'manage_courses', :course_id => course.id, :id => @menu.id, :controller=>"menus" )}, id: "course_chckbox_#{product.id}"
				%>
			<%# end %>
			</td>
		</tr>
		<% end %>
		<% end %>
	</tbody>
</table>