<div class="row">
	<div class="span5">
		<section>
			<% if current_user.courses && current_user.courses.any? %>
			<h2>Можно приготовить (<%= current_user.courses.availabled.count %>)</h2>
			<ol class="courses">
				<%= render current_user.courses.availabled %>
			</ol>
			<% end %>
		</section>
	</div>

	<div class="span5">
		<section>
			<% if current_user.courses && current_user.courses.any? %>
			<h2>Блюда (<%= current_user.courses.count %>)</h2>
			<ol class="courses">
				<%= render current_user.courses %>
			</ol>
			<% end %>
		</section>
	</div>
</div>

