<div class="row">
	<div class="col-lg-5">
		<section>
			<% if current_user.courses.availabled && current_user.courses.availabled.any? %>
			<h2>Можно приготовить (<%= current_user.courses.availabled.count %>)</h2>
			<%= render 'courses/courses_table', courses: current_user.courses.availabled %>
			<% end %>
		</section>
	</div>

	<div class="col-lg-5">
		<section>
			<% if current_user.courses && current_user.courses.any? %>
			<h2>Рецепты (<%= current_user.courses.count %>)</h2>
			<%= render 'courses/courses_table_with_kinds', courses: current_user.courses %>
			<% end %>
		</section>
	</div>
</div>

