	<div class="row">
	<div class="col-md-6">
		<section  id="courses_availabled">
			<% if @availabled_courses && @availabled_courses.any? %>
			<h2>Можно приготовить (<%= @availabled_courses.to_a.count %>)</h2>
			<%= render 'courses/courses_table_with_categories', courses: @availabled_courses, availabled: true %>
			<% end %>
		</section>
	</div>

	<div class="col-md-6">
		<section id="courses" >
			<% if @courses && @courses.any? %>
			<h2>Рецепты (<%= @courses.count %>)</h2>
			<%= render 'courses/courses_table_with_categories', courses: @courses, availabled: false %>
			<% end %>
		</section>
	</div>
</div>

