<% provide(:title, "Виды #{@ru_type_pluralize}") %>

<section>
	<%= render 'categories/category_create_form' %>
</section>

<section id="categories_lists">
	<%= render 'categories/categories_lists' %>
</section>
