<p>Здравствуйте <%= @resource.email %>!</p>

<p>Кто-то запросил изменение вашего пароля. Вы можете сделать это через ссылку: </p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Если вы не запрашивали изменение пароля, пожалуйста проигнорируйте это письмо.</p>
