<div class="row">
	<div class="col-lg-5">
		<section  class="products_availabled">
			<% if current_user.products.availabled && current_user.products.availabled.any? %>
			<h2>В наличии (<%= current_user.products.availabled.count %>)</h2>
			<%= render 'products_table', products: current_user.products.availabled %>
			<% end %>
		</section>
	</div>

	<div class="col-lg-5">
		<section class="products" >
			<% if current_user.products && current_user.products.any? %>
				<h2>Все (<%= current_user.products.count %>)</h2>
				<%= render 'products_table', products: current_user.products %>
			<% end %>
		</section>
	</div>
</div>
