<div class="row">
	<div class="span5">
		<section>
			<% if current_user.products.availabled && current_user.products.availabled.any? %>
			<h2>В наличии (<%= current_user.products.availabled.count %>)</h2>
			<ol class="products.availabled">
				<%= render current_user.products.availabled %>
			</ol>
			<% end %>
		</section>
	</div>

	<div class="span5">
		<section>
			<% if current_user.products && current_user.products.any? %>
			<h2>Все (<%= current_user.products.count %>)</h2>
			<ol class="products">
				<%= render current_user.products %>
			</ol>
			<% end %>
		</section>
	</div>
</div>
