<div class="row">
	<div class="span5">
		<section>
			<% if current_user.products.availabled && current_user.products.availabled.any? %>
			<h2>В наличии (<%= current_user.products.availabled.count %>)</h2>
			<ol class="products.availabled">
				<%= render partial: "product_with_li_and_delete", collection: current_user.products.availabled, :as => :product %>
			</ol>
			<% end %>
		</section>
	</div>

	<div class="span5">
		<section>
			<% if current_user.products && current_user.products.any? %>
			<h2>Все (<%= current_user.products.count %>)</h2>
			<ol class="products">
				<%= render partial: "product_with_li_and_delete", collection: current_user.products, :as => :product  %>
			</ol>
			<% end %>
		</section>
	</div>
</div>
