<div class="row">
	<div class="span5">
		<section  class="products_availabled">
			<% if current_user.products.availabled && current_user.products.availabled.any? %>
			<h2>В наличии (<%= current_user.products.availabled.count %>)</h2>
			<ol>
				<%= render partial: "product_with_li_and_delete", collection: current_user.products.availabled, :as => :product %>
			</ol>
			<% end %>
		</section>
	</div>

	<div class="span5">
		<section class="products" >
			<% if current_user.products && current_user.products.any? %>
				<h2>Все (<%= current_user.products.count %>)</h2>
				<table class='table' id='people_table'>
					<thead>
						<tr>
							<th>Название</th>
							<th>Наличие</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						<% current_user.products.each do |product| %>
						<%# Render table row partial for each product object %>
						<%= render partial: 'product_row', locals: {product: product} %>
						<% end %>
					</tbody>
				</table>
			<% end %>
		</section>
	</div>
</div>
