<div class="panel-group" id="accordion">
	<% @product_kinds = [ProductKind.new(name: "Без категории")] + ProductKind.kinds_for_products(products).to_a %>
	<% @product_kinds.each_with_index do |product_kind, index|  %>
		<% if product_kind.name == "Без категории" %>
			<% @product_kind_products = products.without_kind %>
		<% else %>
			<% if availabled %>
				<% @product_kind_products = product_kind.products.availabled %>
			<% else %>
				<% @product_kind_products = product_kind.products %>
			<% end %>
		<% end %>
		
		<% if @product_kind_products && @product_kind_products.any? %>
		<% collapse_id = "collapse#{(availabled ? "availabled" : "") + index.to_s}" %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#<%=collapse_id%>">
						<%= "#{index+1}. #{product_kind.name}"  %>
					</a>
				</h4>
			</div>
			<div id="<%=collapse_id%>" class="panel-collapse collapse in">
				<div class="panel-body">
					
					<%= render 'products/products_table', products: @product_kind_products %>
					
				</div>
			</div>
		</div>
		<% end %>
	<% end %>
</div>