<div class="panel-group" id="accordion">
	<% @product_categories = [ProductCategory.new(name: "Без категории")] + ProductCategory.categories_for_products(products).to_a %>
	<% @product_categories.each_with_index do |product_category, index|  %>
		<% if product_category.name == "Без категории" %>
			<% @product_category_products = products.without_category %>
		<% else %>
			<% if availabled %>
				<% @product_category_products = product_category.products.availabled %>
			<% else %>
				<% @product_category_products = product_category.products %>
			<% end %>
		<% end %>
		
		<% if @product_category_products && @product_category_products.any? %>
		<% collapse_id = "collapse#{(availabled ? "availabled" : "") + index.to_s}" %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#<%=collapse_id%>">
						<%= "#{index+1}. #{product_category.name}"  %>
					</a>
				</h4>
			</div>
			<div id="<%=collapse_id%>" class="panel-collapse collapse in">
				<div class="panel-body">
					
					<%= render 'products/products_table', products: @product_category_products %>
					
				</div>
			</div>
		</div>
		<% end %>
	<% end %>
</div>