<div class="row">
	<div class="col-md-6">
		<section  id="products_availabled">
			<% if @available_products && @available_products.any? %>
			<h2>В наличии (<%= @available_products.count %>)</h2>
			<%= render 'shared/table_with_categories', items: @available_products, class_name: "Product", table_partial: 'products/products_table'  %>
			<% end %>
		</section>
	</div>

	<div class="col-md-6">
		<section id="products" >
			<% if @products && @products.any? %>
				<h2>Все (<%= @products.count %>)</h2>
				<%= render 'shared/table_with_categories', items: @products, class_name: "Product", table_partial: 'products/products_table'  %>
			<% end %>
		</section>
	</div>
</div>
