<div class="row">
	<div class="col-md-6">
		<section  id="products_availabled">
			<% if @available_products && @available_products.any? %>
			<h2>В наличии (<%= @available_products.count %>)</h2>
			<%= render 'products_table', products: @available_products %>
			<% end %>
		</section>
	</div>

	<div class="col-md-6">
		<section id="products" >
			<% if @products && @products.any? %>
				<h2>Все (<%= @products.count %>)</h2>
				<%= render 'products_table', products: @products %>
			<% end %>
		</section>
	</div>
</div>
