<% provide(:title, 'Продукты') %>

<section>
			<%= link_to "Добавить", new_product_path, class: "btn btn-lg btn-primary"%>
</section>

<div id="products_lists">
	<%= render 'products/two_columns_products_lists' %>
</div>

<%#= link_to "Виды продуктов", sti_category_path("ProductCategory")%>
<%= link_to "Виды продуктов", product_categories_path%>