<% provide(:title, 'Продукты') %>

		<section>
			<%= render 'products/product_create_form' %>
		</section>

		<section id="products_lists">
			<%= render 'products/current_user_products_lists' %>
		</section>
