<% provide(:title, 'Типовые рецепты') %>

<section>
	<%= link_to "Добавить", new_admin_course_path, class: "btn btn-lg btn-primary"%>
</section>

<section id="courses" >
	<%= render 'courses_table'%>
</section>
