<% provide(:title, 'Типовой рецепт') %>

<%= render partial: "course_show", object: @course, :as => :course  %>

<section>
	<%= link_to "Изменить", edit_admin_course_path(@course), class: "btn btn-lg btn-primary"%>
</section>

