<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#<%=@collapse_id%>">
				<%= @heading_text  %>
			</a>
		</h4>
	</div>
	<div id="<%=@collapse_id%>" class="panel-collapse collapse in">
		<div class="panel-body">
			<%=	yield %>
		</div>
	</div>
</div>

