<% content_for :content do %>

<div class="row">
	<div class="col-md-2">
		<nav class="nav-sidebar">
			<ul class="nav">
				<%= yield(:food_links) if content_for?(:food_links) %>
			</ul>
		</nav>
	</div>
	<div class="col-md-10">
		<%= content_for?(:form_content) ? yield(:form_content) : yield %>
	</div>
</div>

<% end %>
<%= render template: "layouts/application" %>